<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">What does Marchup do for you?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-user fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Professional Online Profile</h4>
                    <p class="text-muted">Showcase your achievements, interests, projects, voluntary and paid job roles </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Connect with like minded students</h4>
                    <p class="text-muted">Search, follow and connect with students in your area with similar interests and goals</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lightbulb-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Incubate ideas and showcase your work</h4>
                    <p class="text-muted"> Think personal hobbies, group initiatives, school and social clubs. Collaborate with partners, assign roles and tasks, create blogs and wikis</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Job board</h4>
                    <p class="text-muted">Post jobs and ask for help on your projects, search for job listings and connect with project owners</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-comment-o fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Gen AI Assistant</h4>
                    <p class="text-muted">Download editable resume based on your profile. Coming soon -  AI counsellor </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-plug fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">3rd party integration</h4>
                    <p class="text-muted">Coming soon - Integration with Instagram and Gofundme to make it easy to cross post and raise funds</p>
                </div>
            </div>
        </div>
    </section>