<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">What does Marchup do for students?</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/icons/Marc.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">AI-powered Mentor</h4>
                    <p class="text-muted">Get college and career advice from Marc, our cutting-edge AI mentor chatbot</p>
                </div>
                
                <div class="col-md-4">
                    <img src="img/icons/Internship.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">Job board</h4>
                    <p class="text-muted">Search for internships and volunteering opportunities. Connect with hiring managers with a single click</p>
                </div>
                <div class="col-md-4">
                    <img src="img/icons/Startup.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">Pursue your dreams, be a leader</h4>
                    <p class="text-muted"> Start and run school clubs, non-profits and other personal/team initiatives</p>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <img src="img/icons/Professional-Profile.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">Professional Online Profile</h4>
                    <p class="text-muted">Showcase your skills, interests and achievements to colleges and employers</p>
                </div>
                <div class="col-md-4">
                    <img src="img/icons/Peers.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">Connect with peers and mentors</h4>
                    <p class="text-muted">Connect with like-minded students, alumni and mentors</p>
                </div>
                <div class="col-md-4">
                    <img src="img/icons/Resume.png" alt="AI-powered Mentor" class="feature-icon">
                    <h4 class="service-heading">Generate job-specific resume</h4>
                    <p class="text-muted">Use our AI powered resume builder to generate and enhance a professional resume</p>
                </div>
            </div>
        </div>
    </section>